*{
    margin: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(#D8C7FF, #19006C);
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2 {
    font-size: 27px;
    font-weight: 500;
}
